@model TruckingInfo

<h3>@Model.TruckID Information</h3>

<table class="table">
    <tr>
        <th>truck ID</th>
        <th>driver ID</th>
        <th>driver Name</th>
        <th>mileage</th>
        
    </tr>
    <tr>
        <td>@Model.TruckID</td>
        <td>@Model.DriverID</td>
        <td>@Model.DriverName</td>
        <td>@Model.Mileage</td>
       
    </tr>
</table>
