@model TruckingInfo

<h3>@Model.TruckID Information</h3>

<table class="table">
    <tr>
        <th>truck ID</th>
        <th>driver ID</th>
        <th>driver Name</th>
        <th>mileage</th>
        
    </tr>
    <tr>
        <td>@Model.TruckID</td>
        <td>@Model.DriverID</td>
        <td>@Model.DriverName</td>
        <td>@Model.Mileage</td>
       
    </tr>
</table>

<div style="display: block">
    <a href="/TruckingInfo/UpdateTruckingInfo/@Model.TruckID" style="color:white">Update this TruckingInfo</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteTruckingInfo", "TruckingInfo", "Post"))
    {
        <input type="hidden" asp-for="TruckID" value="@Model.TruckID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this info" />
    }
</div>
<style>
    body {
        background-color : grey;
    }
</style>